html{
    font-size: 16px;
}
@mixin btn($name,$color,$bgcolor){
    &-#{$name}{
      @extend .btn;
      color: $color;
      background-color:$bgcolor;
      border-color: $bgcolor;
    }
}
@mixin btn-outline($name,$color) {
    &-#{$name}{
        @extend .btn-outline;
        color: $color;
        border-color: $color;
    }
}
.btn{
    display: inline-block;
    white-space: nowrap;
    padding: 0.375rem 0.75rem;
    border: 1px solid $btn-wfn;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    
    opacity: 0.7;
    margin: 0 0 0 10px;
    @include btn(pri,$btn-wfn,$btn-pri);
    @include btn(secondary,$btn-wfn,$btn-secondary);
    @include btn(success,$btn-wfn,$btn-success);
    @include btn(danger,$btn-wfn,$btn-danger);
    @include btn(warning,$btn-bfn,$btn-warning);
    @include btn(info,$btn-wfn,$btn-info);
    @include btn(light,$btn-bfn,$btn-light);
    @include btn(dark,$btn-wfn,$btn-dark);
    @include btn(link,$btn-bfn,$btn-link);
    &-outline{
        @extend .btn;
        background-color: transparent;
        background-image: none;
        @include btn-outline(pri,$btn-pri);
        @include btn-outline(secondary,$btn-secondary);
        @include btn-outline(success,$btn-success);
        @include btn-outline(danger,$btn-danger);
        @include btn-outline(warning,$btn-warning);
        @include btn-outline(info,$btn-info);
        @include btn-outline(light,$btn-light);
        @include btn-outline(dark,$btn-dark);
        @include btn-outline(link,$btn-link);
    }
    &-lg{ 
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
    &-sm{
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
    &-block{
        display: block;
        width: 100%;
    }
}
.btn:disabled{
    opacity: 0.65;
}
.btn:hover{
    opacity: 1;
}
@mixin btn-outline-hover($name,$color,$bgcolor) {
    .btn-outline-#{$name}:hover{
        color: $color;
        background-color: $bgcolor;
    }
}
@include btn-outline-hover(pri,$btn-wfn,$btn-pri);
@include btn-outline-hover(secondary,$btn-wfn,$btn-secondary);
@include btn-outline-hover(success,$btn-wfn,$btn-success);
@include btn-outline-hover(danger,$btn-wfn,$btn-danger);
@include btn-outline-hover(warning,$btn-wfn,$btn-warning);
@include btn-outline-hover(info,$btn-wfn,$btn-info);
@include btn-outline-hover(light,$btn-bfn,$btn-light);
@include btn-outline-hover(dark,$btn-wfn,$btn-dark);

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:not(:disabled):not(.disabled).active {
    cursor: pointer;
    background-image: none;
}
.btn input[type=checkbox],input[type=radio]{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
}
.btn-group,
.btn-group-vertical{
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex:  0 1 auto;
}