$inputgr-bg:#e9ecef;
$inputgr-bd:#ced4da;


.input-group{
    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items;
    @include justify-content;
    width: 100%;
    &-text{
        @include display-flex;
        @include align-items(center);
        padding: .75rem .75rem;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        background-color: $inputgr-bg;
        border:  1px solid $inputgr-bd;
        border-radius: .25rem;
    }
}