.navbar{
    position: relative;
    @include display-flex;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
    padding: .5rem 1rem;
    > .container,
    > .container-fluid{
        @include display-flex;
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);
    }
    &-brand{
        display: inline-block;
        padding-top: .3rem;
        padding-bottom: .3rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
    &-nav{
        @include display-flex;
        @include flex-direction(column);
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}