.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    &-link{
        display: block;
        padding: .75rem .75rem;
    }
    &.disabled{
        color: $disable;
    }
}
.nav-link.active{
    color:$btn-pri;
    background-color: $btn-wfn;
}