* {
  box-sizing: border-box;
}
html{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.defaul-flex-col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
.defaul-flex-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}