* {
  box-sizing: border-box;
}
html{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.defaul-flex-row{
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include align-items;
}
.defaul-flex-col{
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items;
}
//Back ground
// @include background($pri-bg);
// @include background($secondary-bg);
// @include background($success-bg);