@mixin container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container{
  max-width: 1200px;
  @extend %clr;
  @include container();
}
.container-fluid{
  @include container();
  max-width: unset;
  width: 100%;
}
@mixin row {
  @extend %clr;
  @include display-flex;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(baseline);
  @include align-content;
  margin-left: 15px;
  margin-right: 15px;
}
.row{
  @include row();
}
@mixin col {
  min-width: 1px;
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
  @include align-items;
  @include align-content;
}
$total-columns: 12;
@mixin custom-col($size) {
  @for $i from 1 through $total-columns {
    @if $size != '' {
      &-#{$size}-#{$i} {
        @include col();
        width: percentage($i / $total-columns);
      }
    } @else {
      &-#{$i} {
        @include col();
        width: percentage($i / $total-columns);
      }
    }
  }
}
// .col{
//   @include col();
//   width: 100%;
//   @include custom-col(sm);
//   @include custom-col(md);
//   @include custom-col(wd);
//   @include custom-col(lg);
//   @include custom-col(lst);
// }
$breakpoint-name: sm,md,wd,lg,lst;
@each $b in $breakpoint-name{
  .col{
    @include col();
    width: 100%;
    @include custom-col($b);
  }
}
@mixin respond-col($name,$width) {
  @media (min-width:$width){
    @for $i from 1 to $total-columns{
      .col-#{$name}-#{$i}{
        width: percentage($i / $total-columns);
      }
    }
  }
}
$small:480px;
$medium:768px;
$wide:960px;
$large:1024px;
$largest:1280px;
@include respond-col(sm,$small);
@include respond-col(md,$medium);
@include respond-col(wd,$wide);
@include respond-col(lg,$large);
@include respond-col(ls,$largest);
